* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Cinzel', serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h1 {
    margin: 20px
}

.board {
    width: 300px;
    margin: 0px auto 30px;
    display: flex;
    flex-direction: column;
}

.board-row {
    display: flex;
    flex-direction: row;
}

.whole{
    width: 100px;
    height: 100px;
    background-image: url(./grass.png), url(./mole.png);
    background-size: 80px, 70px;
    background-repeat: no-repeat; 
    background-position:  bottom, center 100px; 
    transition: all 0.5s;
}

.active {
    background-image: url(./grass.png), url(./mole.png);
    background-size: 80px, 70px;
    background-repeat: no-repeat; 
    background-position:  bottom, center 10px; 
    transition: all 0.5s;
}